<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funsooyenuga.fashionassistant">

    <permission android:name="com.funsooyenuga.fashionassistant.PRIVATE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.funsooyenuga.fashionassistant.PRIVATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".clients.ClientsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestArena.DateActivity" />
        <activity
            android:name=".clientdetail.ClientDetailActivity"
            android:parentActivityName=".clients.ClientsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addOrEditClient.AddClientActivity"
            android:label="@string/title_activity_add_client2"
            android:parentActivityName=".clients.ClientsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.DbManager.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".addOrEditClient.EditClientActivity"
            android:label="@string/edit_client"
            android:parentActivityName=".clientdetail.ClientDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".notification.NotificationService" />

        <receiver android:name=".notification.NotificationReceiver" android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.funsooyenuga.fashionassistant.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>